{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<link rel="stylesheet" href="{% static 'css/style.css'%}">
<link rel="stylesheet" href="{% static 'css/normalize.css'%}">
<body class="body-registro">
    <div class="contendor-registro">
        <a href="{% url 'home'%}">
            <button>
                <div></div>
                <div></div>
                <div></div>
            </button>
        </a> 
        <img class="imagen-logo" src="{% static 'img/Logos/LBL_2.jpg' %}" alt="">
        <div class="container-registro">
            <div class="columna">
                <h2>Información Personal</h2>
                <form class="form-registro">
                    <label class="lblregistro" for="rut">RUT:</label>
                    <input class="iptregistro" type="text" id="rut" name="rut" required>

                    <label class="lblregistro" for="nombre">Nombre:</label>
                    <input class="iptregistro" type="text" id="nombre" name="nombre" required>

                    <label class="lblregistro" for="apellidoPaterno">Apellido Paterno:</label>
                    <input class="iptregistro" type="text" id="apellidoPaterno" name="apellidoPaterno" required>

                    <label class="lblregistro" for="apellidoMaterno">Apellido Materno:</label>
                    <input class="iptregistro" type="text" id="apellidoMaterno" name="apellidoMaterno" required>

                    <label class="lblregistro" for="telefono">Teléfono:</label>
                    <input class="iptregistro" type="text" id="telefono" name="telefono" required>

                </form>
            </div>
            
            <div class="columna">
                <form class="form-registro">
                     
                    <label class="lblcorreo" for="correo">Correo:</label>
                    <input class="iptregistro" type="email" id="correo" name="correo" required>

                    <label class="lblregistro" for="contrasena">Contraseña:</label>
                    <input class="iptregistro" type="password" name="contraseña" required>

                    <label class="lblregistro" for="region">Región:</label>
                    <select class="ipt" name="region" id="region">
                        {% for c in regions %}
                        <option value = "{{c.id_region}}">{{c.region}}</option>
                        {% endfor %}
                    </select>

                    <label class="lblregistro" for="comuna">Comuna:</label>
                    <select class="ipt" name="comuna" id="comuna">
                        {% for r in comun %}
                        <option value = "{{c.id_comuna}}">{{c.comuna}}</option>
                        {% endfor%}
                    </select>

                    <label class="lbldireccion" for="direccion">Dirección:</label>
                    <input class="iptregistro" type="text" id="direccion" name="direccion" required>

                    <button class="boton-enviar" type="submit">Registrar</button>
                </form>
            </div>
        </div>
    </div>
</body>