{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<link rel="stylesheet" href="{% static 'css/style.css'%}">
<link rel="stylesheet" href="{% static 'css/normalize.css'%}">
<body class="body-iniciosesion">
    <div class="centrado">
        <a href="{% url 'home'%}">
            <button>
                <div></div>
                <div></div>
                <div></div>
            </button>
        </a>    
        <img src="{% static 'img/Logos/LBS1fda.jpg'%}" alt="foto-logo" class="imagen-centrado">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto p-5 text-center">
                    <h1>Registro</h1><br>
                    <form action="userAdd" method="POST">
                        {% csrf_token %}
                        <div>
                            <label for="rut" class="form-label">Rut</label>
                            <input type="text" name="rut" id="rut" class="form-control">
                        </div>
                        <div>
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" name="nombre" id="nombre" class="form-control">
                        </div>
                        <div>
                            <label for="appPaterno" class="form-label">Apellido Paterno</label>
                            <input type="text" name="appPaterno" id="appPaterno" class="form-control">
                        </div>
                        <div>
                            <label for="appMaterno" class="form-label">Apellido Materno</label>
                            <input type="text" name="appMaterno" id="appMaterno" class="form-control">
                        </div>                        
                        <div>
                            <label for="telefono" class="form-label">Telefono</label>
                            <input type="text" name="telefono" id="telefono" class="form-control">
                        </div>
                        <div>
                            <label for="region" class="form-label">Region</label>
                            <select name="region" id="id_region" class="form-control">
                                {% for region in region%}
                                <option value="{{region.region}}">{{region.region}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <label for="correo" class="form-label">Correo</label>
                            <input type="email" name="correo" id="correo" class="form-control">
                        </div>
                        <div>
                            <label for="direccion" class="form-label">Direccion</label>
                            <input type="text" name="direccion" id="direccion" class="form-control">
                        </div><br><br>
                        <input type="submit" name="opcion" value="Agregar" class="btn btn-success">
                    </form><br><br>
                </div>
            </div>
        </div>
    </div>
</body>