{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<link rel="stylesheet" href="{% static 'css/style.css'%}">
<link rel="stylesheet" href="{% static 'css/normalize.css'%}">
<body>
    <div class="contendor-registro">
        <a href="{% url 'home'%}">
            <button>
                <div></div>
                <div></div>
                <div></div>
            </button>
        </a> 
        <img width="250" src="{% static 'img/Logos/LBS1fda.jpg' %}" alt="">
        <h1 class="title">Registro</h1>
        <form action="/signup/" method="POST" class="formulario-registro">            
            {% csrf_token %}
            <div class="titular">
                <div class="camp">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" name="nombre" id="nombre" class="campo__field">
                </div>
                <div class="camp">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" name="apellido" id="apellido" class="campo__field">
                </div>
                <div class="camp">
                    <label for="rut" class="form-label">Rut</label>
                    <input type="text" name="rut" id="rut" class="campo__field">
                </div>
                <div class="camp">
                    <label for="fecha" class="form-label">Fecha de Nacimiento</label>
                    <input type="date" name="fecha" id="fecha" class="campo__field">
                </div>
                <div class="camp">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" name="email" id="email" class="campo__field">
                </div>
                <div class="camp">
                    <label for="region" class="form-label">Region</label>
                    <select name="region" id="region" class="form-control">
                        {% for r in regions %}
                        <option value="{{r.id_region}}">{{r.region}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="camp">
                    <label for="comuna" class="form-label">Comuna</label>
                    <select name="comuma" id="comuna" class="form-control">
                        {% for c in  comun%}
                        <option value="{{c.id_comuna}}">{{c.comuna}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>
    </div>
</body>