{% extends './index.html'%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impekbles</title>
    {% load bootstrap5 %}
    {% load static %}
    {% bootstrap_css %}
    {% bootstrap_javascript%}
    <link rel="stylesheet" href="{% static 'ccs/style.css'%}">
    <link rel="stylesheet" href="{% static 'ccs/normalize.css'%}">
</head>
{% block body %}

<body>
    <main class="contenedor">
        <h1 class="centrar-texto title">Nosotros</h1>

        <div class="sobre-nosotros">
            <div class="sobre-nosotros__imagen">
                <img src="{% static 'img/Logos/LBL_2.jpg' %}" alt="logo">
            </div>
            <div class="sobre-nosotros__texto">
                <p>Pellentesque lacus orci, mattis cursus est in, finibus sagittis mi. Sed iaculis elit et porta luctus.
                    Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas
                    lacinia est vitae eros posuere, non commodo justo viverra. Sed finibus id elit sit amet egestas.
                    Nullam ac urna odio. Fusce vestibulum venenatis quam in scelerisque. Maecenas ultricies ultricies
                    velit, non suscipit enim. Vivamus massa velit, lobortis fringilla laoreet in, suscipit vitae velit.
                    Etiam at orci euismod magna rhoncus luctus. Curabitur viverra est ut elit gravida rutrum. Nullam
                    eget viverra enim. Quisque vitae varius urna.</p>

                <p>Maecenas commodo erat ac elit elementum, ac eleifend arcu gravida. Donec commodo auctor augue, eget
                    tempor dui fermentum in. Duis non enim vitae metus accumsan vehicula. Pellentesque egestas diam ut
                    ante aliquet, sit amet fringilla odio interdum. In nec odio nec turpis faucibus sagittis. Sed quis
                    tellus nec ante luctus aliquam sit amet vel mauris. Nunc vitae facilisis mauris, posuere tristique
                    arcu. Praesent nisi urna, venenatis non laoreet</p>
            </div>
        </div>
    </main>
</body>
{% endblock %}

</html>