{% extends './index.html'%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impekbles</title>
    {% load bootstrap5 %}
    {% load static %}
    {% bootstrap_css %}
    {% bootstrap_javascript%}
    <link rel="stylesheet" href="{% static 'ccs/style.css'%}">
    <link rel="stylesheet" href="{% static 'ccs/normalize.css'%}">
</head>
{% block body %}

<body>
    <main class="contenedor">
        <h1 class="centrar-texto title">Nuestros Productos</h1>
            
        <div class="grid">
            {% for p in product%}
            <div class="producto">
                
                {% if p.imagen %}
                <img width="250" height="250" src="{{ p.imagen.url }}" alt="producto" class="producto__imagen">
                {% endif %}
                <div class="producto__informacion">
                    <p class="producto__nombre">{{ p.nombre_producto}}</p>
                    <p class="producto__precio">${{ p.precio}}</p>
                </div>
                <div class="boton">
                    <a href="#" class="boton--color text-decoration-none">Añadir al carrito</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
</body>
{% endblock %}
</html>